body {
  background-color: #fff;
  font-size: 1.5rem;
  line-height: normal;
}


h1 { 
  font-size: 2.75rem;
  line-height: 3rem;
}

h2 { 
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3 { 
  font-size: 2.25rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h5,
h6 {
  font-size: 1.025rem;
  line-height: 1.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;

}

.openButton {
  font-size: 1.5rem;
}

.container {
  --gutter: 40px;
}