.postContent {
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1.5%;
  z-index: 1;
}