.postListContent {
  width: 100%;
  height: 100%;
}

.postPreview {
  margin: 2rem 0;
  padding: 2rem 1.5rem;
  background-color: #F4F4F4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1.5%;
  z-index: 1;
}

li {
  color: var(--color-main);
  list-style: none;
}

.postContainer h6 {
  font-family: var(--font-body);
  text-align: right;
}

.postContainer h1 {
  margin: 1rem 0rem;
  text-align: center;
}

.postContainer h4 {
  font-family: var(--font-body);
  text-align: center;
}


.postContainer {
  margin: 0rem;
  padding: 2.5rem;
  background-color: #F4F4F4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1.5%;
  z-index: 1;
}

.postContent {
  width: 100%;
  height: 100%;
  align-content: center;
  contain:style;
  padding: 2rem 0rem;
  overflow: inherit;
}

.links a {
  font-size: 1rem;
}

img[src*="#blogImage"] {
	display: block; 
  margin-left: auto; 
  margin-right: auto;
  width: 80%; 
  padding: 2em 0em;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media print, (min-width: 640px) {
  .links a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .links a {
    font-size: 1.5rem;
  }
}