.postList-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.postList-header {
  margin: 2rem 0 2rem 0;
  padding: 2rem 0;
  background-color: #E7B275;
}

.postList-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postList-header .home-link {
  font-family: var(--font-display);
  font-size: 3rem;
}

.postList-header .home-link a {
  color: var(--color-main);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.75); */
  text-align: center;
}

.postList-header .home-link a:hover {
  text-decoration: none;
}

.postList-header .logo-medium {
  display: none;
}

.postList-header a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.postList-header .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.postList-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
}

.postList-main .container {
  display: flex;
  width: 90%;
  max-width: 45rem;
  gap: 1rem;
  padding: 1rem;
  border: 3px dashed black;
  border-radius: 1.5%;
  background-image: url("~/assets/images/dotBackground.png");
  background-repeat: repeat;
  background-size: contain;
}

.postList-list {
  width: 100%;
}

.postList-outlet {
  flex: 1;
}

.postList-footer {
  padding-top: 2rem;
  border-top: 1px solid var(--color-border);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer .content {
  height: 14rem;
  width: 14rem;
}

.vanImage {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
}

.vanImage:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #5D3F2E;
  height: 14rem;
  width: 100%;
}

.footerContainer {
  width: 100%;
  height: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.content {
  width: 100%;
  height: 14rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;

}

.topContainer {
  width: 100%;
  height: auto;
  background-color: blue;
}

.bottomContainer {
  width: 100%;
  margin-top: 7.25rem;
  padding: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}

.bottomContainer a:hover {
  color: white;
}

@media print, (min-width: 640px) {
  .postList-header .logo {
    display: none;
  }

  .postList-header .logo-medium {
    display: block;
  }

  .postList-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .postList-main .container {
    flex-direction: column;
  }
}